.header {
  background-color: #fff;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
  padding: 0px 0px;
  position: sticky;
  top: 0;
  z-index: 999;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
}

.navLogo img {
  width: 115px;
}

.hamburger {
  display: none;
  font-size: 1.8rem;
  background: none;
  border: none;
  cursor: pointer;
}

.navLinks {
  display: flex;
  gap: 25px;
  list-style: none;
}

.navLinks li a {
  text-decoration: none;
  font-size: 1rem;
  font-weight: 500;
  color: #34495e;
  transition: color 0.3s ease;
}

.navLinks li a:hover {
  color: #1abc9c;
}

.active {
  color: #1abc9c;
  border-bottom: 2px solid #1abc9c;
  padding-bottom: 2px;
}

/* Responsive */
@media (max-width: 768px) {
  .hamburger {
    display: block;
  }

  .navLinks {
    position: absolute;
    top: 65px;
    right: 30px;
    background: #fff;
    flex-direction: column;
    gap: 15px;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.1);
    display: none;
  }

  .show {
    display: flex;
  }
}
